.g{
    padding-top: 65px;
}
.go{
    margin-bottom: 20px;
}
.s{
    margin-bottom: 150px;
}
footer{
    padding-top: ;
    background-color: #dbd8d8;
    border-top: 1px solid;
}
.r1{
   padding-left: 250px 
}
.rt{
    padding-left: 500px;
}
.l .r1 .r2 .r3 .rt .rt1{
    font-size: 12px;
    outline-color: black;
}